<!doctype html>

<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejemplo MEAN</title>
	<!-- Cargamos bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Cargamos angular -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- Cargamos el javascript de angular -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">
	<script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>
	<script src="core.js"></script>


</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="jumbotron text-center" ng-prueba>
			<h1>Nº de Registros: <span class="label label-success">{{ personas.length }}</span></h1>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-1">
			 <form class="form-inline">
		        <div class="form-group">
		            <label >Buscar</label>
		            <input type="text" ng-model="search" class="form-control" placeholder="Search">
		        </div>
	    	</form>	<br>
			<table class="table table-striped" class="table" show-filter="true">
				<tr>
		            <th ng-click="sort('nombre')">Nombre
		            <span class="glyphicon sort-icon" ng-show="sortKey=='nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		            </th>
		            <th ng-click="sort('apellido')">Apellido
		            <span class="glyphicon sort-icon" ng-show="sortKey=='apellido'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		            </th>
		            <th ng-click="sort('cargo')">Cargo
		            <span class="glyphicon sort-icon" ng-show="sortKey=='cargo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		            </th>
	        	</tr>
				<tr ng-repeat="persona in personas|orderBy:sortKey:reverse|filter:search">
							<td>{{ persona.nombre }}</td>
							<td>{{ persona.apellido }}</td>
							<td>{{ persona.cargo }}</td>					
				</tr>
			</table>	
					
			</div>
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<form name="myForm">
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newPersona.nombre" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Apellido" ng-model="newPersona.apellido" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Cargo" ng-model="newPersona.cargo" required>
					</div>

					<!-- Acciones que podemos realizar en el formulario -->
					<button type="submit" class="btn btn-success btn-lg" ng-click="registrarPersona()" ng-disabled="myForm.$invalid || selected">Registrar</button>
					<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.cargo || !selected">Modificar</button>
					<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.cargo || !selected">Borrar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>